params {
    downsample         = false
    results            = "s3://batch-data-bucket-virginia/results"
    storedir           = "s3://batch-work-bucket-virginia/storedir"
    genome_bwa_files   = "s3://batch-data-bucket-virginia/hg38/bwa"
    dbsnp              = "s3://batch-data-bucket-virginia/hg38/dbsnp"
    fastqs             = "s3://batch-data-bucket-virginia/hg38/fastqs"
    genome_fasta_files = "s3://batch-data-bucket-virginia/hg38/genome"
}

plugins {
    id "nf-amazon"
}

process {
    executor = "awsbatch"
    queue    = "tf-batch-job-queue"
}

aws {
    region = "us-east-1"
    batch {
        cliPath = "/home/ec2-user/miniconda/bin/aws"
    }
}

workflow.onComplete = {
    println "Completed at    : $workflow.complete"
    println "Duration        : $workflow.duration"
    println "Execution status: ${workflow.success ? 'OK': 'failed'}"
    println "Command line    : $workflow.commandLine"
    println "Results         : ${params.results}"
}
